/*
*
* color style
--------------------- */
$color-primary: #553EE3;
$color-background_status: #FBFBFB;
$color-line: #FFF;
$color-primary-background: #EDE1FF;
$color-patagraph: #321D60;
$color-base-background: #F8F3FF;
$color-secondary-background: #F5EEFF;
$color-hightlight: #DBC4FE;
$color-annotation: #855EC0;
$color-placeholder: #AD98FF;

/*
*
* effect style
--------------------- */
$effect-shadow-4:  0px 4px 4px rgba(229, 214, 250, 0.8);
$effect-shadow-8:  -4px 0px 4px rgba(229, 214, 250, 0.8);
